<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Instagram</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="banner">
            <img src="/img/banner-login.png" alt="Smartphones com demonstração do Instagram">
        </div>
        <div class="login">
            <img src="/img/logo.png" alt="Instagram" class="logo">
            <form>
                <input type="email" name="email" id="email" placeholder="nome de usuário, email ou telefone">
                <input type="password" name="senha" id="senha" placeholder="senha">
                <button type="submit">Entrar</button>
            </form>
            <div class="cta-cadastro">
                <p>Não tem uma conta? <a href="registro.html">Cadastre-se</a></p>
            </div>
        </div>
    </main> 
</body>
</html>