<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Instagram</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="banner">
            <img src="/img/banner-login.png" alt="Smartphones com demonstração do Instagram">
        </div>
        <div class="cadastro">
            <img src="/img/logo.png" alt="Instagram" class="logo">
            <form action="/usuarios" method="POST">
                <input type="nome" name="nome" id="nome" placeholder="Digite seu nome">
                <input type="email" name="email" id="email" placeholder="Digite seu email">
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
                <input type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Digite sua senha">
                <button type="submit">Cadastrar-se</button>
            </form>
            <p>Ao se cadastrar, você concorda com nossos <a href="https://help.instagram.com/581066165581870">Termos, Política de Dados e Política de Cookies</a></p>
            <div class="cta-login">
                <p>Já tem uma conta? <a href="login.html">Conecte-se</a></p>
            </div>
        </div>
    </main> 
</body>
</html>